html {
  height: 100%;
  width: 100%;
}

body{
  border: 10px solid turquoise;
  height: 1230px;
}

.navBar{
  display: flex;
  justify-content: space-evenly;
}

.navBar a{
  font-size: 30px;
  color: teal;
}

.navBar a:hover{
  font-weight: bold;
}

.waves{
  height: 275px;
  width: 100%;  
  object-fit: cover;
  padding-top: 0px;
}

.welcome{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  font-size: 20px;
  color: teal;
}

.bullet{
  font-size: 20px;
  padding-left: 10%;
  color: teal;
}

.motto{
  text-align: center;
  padding-top: 30px;
  font-family: Copperplate, "Courier New", cursive;
  font-size: 50px;
  color: lightseagreen
}

.swimmingFish{
  width: 100px;
  height: 100px:
  object-fit: cover;
  position:absolute;
  left:1000px;
  top:1130px;
  animation: swim 10s ease infinite;
}

.quotes{
  display: flex;
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-left: 70px;
  padding-top: 50px;
}

.img1{
  padding-left: 10px;
  padding-right: 10px;
}

.img2{
  padding-left: 10px;
  padding-right: 10px;
}

.img3{
  padding-left: 10px;
  padding-right: 10px;
}

.img4{
  padding-left: 10px;
  padding-right: 10px;
}

.img1:hover{
  transform:scale(1.10)
}

.img2:hover{
  transform:scale(1.10)
}

.img3:hover{
  transform:scale(1.05)
}

.img4:hover{
  transform:scale(1.10)
}

@keyframes swim{
0%{
  transform: translateX(0px);
}
50%{
  transform: translateX(-900px);
}
51%{
  transform: translateX(-900px) scaleX(-1);
}
100%{
  transform: translateX(0px) scaleX(-1);
}
}

.howTo{
  font-size: 30px;
  padding-left: 10%;
  padding-top: 40px;
  color: turquoise;
}

.lightmode{
  margin-left: 10px;
  margin-top: 10px;
  border: 5px,solid, turquoise;
}

.darkmode{
  margin-left: 1030px;
  border: 5px,solid, teal;
}