html {
  height: 100%;
  width: 100%;
}

body{
  border: 10px solid turquoise;
  height: 1410px;
}

.welcome{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  font-size: 50px;
  color: teal;
  text-align: center;
  font-weight: bold;
}

.welcomeBlurb{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 25px;
  color: teal;
}

.welcomeBox{
  background-color: #e9f1f5;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.bullet{
  font-size: 20px;
  padding-left: 10%;
  color: teal;
}

/* .bulletedList{
  background-color:#e7f8f9;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
} */

.motto{
  text-align: center;
  padding-top: 30px;
  font-family: Copperplate, "Courier New", cursive;
  font-size: 50px;
  color: lightseagreen
}

.swimmingFish{
  width: 100px;
  height: 100px:
  object-fit: cover;
  position:absolute;
  left:1000px;
  top:1320px;
  animation: swim 10s ease infinite;
}

.quotes{
  display: flex;
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-left: 70px;
  padding-top: 50px;
}

.img1{
  padding-left: 10px;
  padding-right: 10px;
}

.img2{
  padding-left: 10px;
  padding-right: 10px;
}

.img3{
  padding-left: 10px;
  padding-right: 10px;
}

.img4{
  padding-left: 10px;
  padding-right: 10px;
}

.img1:hover{
  transform:scale(1.10)
}

.img2:hover{
  transform:scale(1.10)
}

.img3:hover{
  transform:scale(1.05)
}

.img4:hover{
  transform:scale(1.10)
}

@keyframes swim{
0%{
  transform: translateX(0px);
}
50%{
  transform: translateX(-900px);
}
51%{
  transform: translateX(-900px) scaleX(-1);
}
100%{
  transform: translateX(0px) scaleX(-1);
}
}

.howTo{
  font-size: 30px;
  padding-left: 10%;
  padding-top: 40px;
  color: turquoise;
}

footer{
  text-align: center;
  margin-top: 50px;
  background-color: #e9f1f5;
  border-radius: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}
 