 
html {
  height: 100%;
  width:100%;
 

body{
 border: 10px solid turquoise;
height: auto;
 
  /* max-width: 100%; */
   overflow-x: hidden; /* Hide horizontal scrollbar */ 
}
.buttonStuff{
     grid-column: 1 / 4;
  grid-row:3/4;  
  z-index: 2;
 
        justify-self: center; /* centers items horizontally */
/* align-self:end; */
   /* grid-column: 1 / 4;
  grid-row: 3 / 2;  
  z-index: 2;
       justify-self: center; /* centers items horizontally */
  
}  
  .musica{
 
   grid-column: 1 / 4;
  grid-row: 4 / 3;  
  z-index: 2;
       justify-self: center; /* centers items horizontally */
 align-self: end;
    transform:translateY(-299%);
   }
 .titleGrid{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); 
   margin: auto;

}
 .musicGrid{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); 
   margin: auto;

}

 .grid{
     justify-content: center; /* centers items horizontally */
  align-items: center; /* centers items vertically */

   display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); 
margin: auto;
}
 .container{
     justify-content: center; /* centers items horizontally */
  align-items: center; /* centers items vertically */

   display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); 
   margin: auto;
}

.vid{
  grid-column: 2/3;
  grid-row: 3 / 4;  
justify-self: center;
    align-self: center;
 
}
 #myVideo { 
     /* align-items: center;
  /* position: fixed; */ 
  height: 300px; 
  object-fit: cover;  
   /* width: 22%; */
    /* width: 100%; */
   /* height: unset;
   */
  /* justify-content: center; */
  aspect-ratio: 1 / 1; 
  border-radius: 50%;
  background-color: gray;
  margin-right: 10px;
   /* min-width: 5%; 
  min-height: 30px;*/
   /* position: absolute; 
 left: 10%;
top: -300%; */
 } 

  
.title{
  font: "Lucida Console";
 font-size: 26px;
      align-self: center; /* centers items horizontally */ 
  background: url('/assets/coastal.jpg') no-repeat center center/cover;
  grid-column: 1/4;
  grid-row: 1 / 1;  


}
  .title:hover{
transform: scale(1.02);
  }
  h3{
      font: "Lucida Console";

text-align: center;
  font-size: 25px;
      background: url('/assets/coastal.jpg') no-repeat center center/cover;
      border-radius: 20%;
           }
  p{
    font-family: 'Lucida Console', "Courier New", monospace;
    font-weight: bold;
    font-size: 14px;
 text-align: center;

  }
  .planning:hover{
transform: scale(1.02);
color:teal;
  }
    .breaks:hover{
transform: scale(1.02);
color:teal;
  }
  
  .hydrate:hover{
transform: scale(1.02);
color:teal; 
  }

  h2{
       border-radius: 20%;

      font: "Lucida Console";
justify-content: center;
    align-content: center;

  font-size: 25px;
    text-align: center;
      background: url('/assets/coastal.jpg') no-repeat center center/cover;
 
  }
.what{
    grid-column: 3/3;
  grid-row: 2/3;  
    border-radius: 15%;
      font-family: 'Lucida Console', "Courier New", monospace;
  background-color: #e9f1f5;

  
 }
 .how:hover{
  background-color: rgba(0, 128, 128, 0.2); 
  transform: scale(1.0); 

 }
   .what:hover{
  background-color: rgba(0, 128, 128, 0.2); 
  transform: scale(1.0); 

 }

.how{
   grid-column: 1 / 2;
  grid-row: 2 / 3;   
     font-family: 'Lucida Console', "Courier New", monospace;
  background-color: #e9f1f5;
  
      border-radius: 15%;


} 
.hints{
  background: url('/assets/coastal.jpg') no-repeat center center/cover;
grid-column: 2 / 3;
  grid-row: 2/3;  
      border-radius: 15%;
    font-family: 'Lucida Console', "Courier New", monospace;
    font-weight: bold;
 text-align: center;
}
/* .breaks { */
   /* list-style-image: url("https://www.tutorialspoint.com/static/images/cyber-security.svg");
} */
.hydrate{
   list-style-image: url("assets/Pomodoro/water.svg");
}
.description {
  background: url('/assets/coastal.jpg') no-repeat center center/cover;
  padding: 25px;
  border-radius: 20px;
  margin: 10px;
} 

h1{
  text-align:  center;
}
  .buttons {
     /* grid-column: 2 / 3;
  grid-row: 3 / 3;  */
      /* grid-column: 2/3; 
  grid-row: 2/2;  
 */
grid-column: 1 / 4;
  grid-row: 3 / 4;  
 z-index:20;
    
    align-self: end;
}
 /*
  .container { 
  display: flex;
  object-fit:cover;
padding:0px;
 left:43%;
top: 68%;
position: absolute;
 place-content: center;  
}*/
  .selected {   
 border: 1px solid  #2a9df4;
  border-radius:  5px;
   background-color:  #2a9df4;
  color:white;
    font-family: "Sail";
  font-size: 15px; 
}
  .selected:hover { 
   background-color:  #94e3fe; 
   color: #002e7a; 
    cursor:pointer;
    font-family: "Sail";
  font-size: 15px;

}

.unselected {
border: 1px solid  #187bce;
  border-radius:  5px; 
     background-color:  #187bce;
  color:white;
  font-family: "Sail";
  font-size: 15px; 
}
  .unselected:hover{
   background-color:  #94e3fe; 
   color: #002e7a; 
    cursor:pointer;
    font-family: "Sail";
  font-size: 15px;
}
  .pomodoroButton { 
 border: 1px solid  #2a9df4;
  border-radius:  5px;
   background-color:  #2a9df4;
  color:white;
    font-family: "Sail";
  font-size: 15px;
   /* left: 70%;
  top: 300%; */
}

.shortBreak {
border: 1px solid  #187bce;
  border-radius:  5px; 
     background-color:  #187bce;
  color:white;
  font-family: "Sail";
  font-size: 15px;
}

  .longBreakButton{
border: 1px solid  #187bce;
  border-radius:  5px; 
     background-color:  #187bce;
  color:white;
    font-family: "Sail";
  font-size: 15px;
  /* left: 65%;
  top: 500%; */
}
#start{
border: 1px solid ;
  border-radius:  5px; 
     background-color:  #96d35f;
  color:white;
margin: 2px;
font-family: "Sail";
  font-size: 15px;
 /* position: absolute;
  
  left: 35%;
  top: 300%; */

}
 /*   */
#start:hover{
border: 1px solid white;
  border-radius:  5px; 
     background-color:  #b1dd8c;
  color:black;
margin: 2px;
  cursor:pointer;
 
}

#reset{
border: 1px solid;
  border-radius:  5px; 
     background-color:  #ffa57d;
  color:white;
margin: 2px;
      cursor:pointer;
font-family: "Sail";
  font-size: 15px;
  /* position: absolute; */
   /* left: 65%;
  top: 300%; */
}
#reset:hover{
border: 1px solid white;
  border-radius:  5px; 
     background-color:  #ffb43f;
  color:white;
    color:black;

margin: 2px;
      cursor:pointer;
 
}
#timer{
    grid-column: 2 / 3;
  grid-row: 3 / 4; 
  align-self: center;
    color:white;
font-family: "Sail";
  font-size: 70px;
  justify-self: center; 
   z-index: 5;
  
}
@font-face {
   font-family: "Sail", system-ui;
  font-weight: 400;
  font-style: normal;
 }
#music-selector{
     
}
 @font-face {
  font-family: "Flux", system-ui;
  src: url(/assets/Fonts/AfacadFlux-VariableFont_slnt,wght.ttf);
}