 

.darkmode{
  margin-left: 1030px;
  border: 5px,solid, teal;
}

.navBar{
  display: flex;
  justify-content: space-evenly;
}

.navBar a{
  font-size: 30px;
  color: teal;
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}

.navBar a:hover{
  font-weight: bold;
}

.waves{
  height: 275px;
  width: 100%;  
  object-fit: cover;
  padding-top: 0px;
}